.say {
  display: flex;
  align-items: baseline;
  color: #9ba290;
}

.sayDivider {
  margin: 0 0.5em;
}

.responses {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;

  max-height: 10em;
  overflow-y: auto;
}

.response {
  display: flex;
  align-items: flex-start;

  color: #ff2e21;
  text-transform: none;
  text-align: left;

  justify-content: flex-start;
}

.oneColumnResponse {
  width: 100%;
}
.twoColumnResponse {
  width: 50%;
}

.responseDivider {
  margin-right: 0.5em;
}

.disposers,
.externs {
  margin-left: 1em;
  display: inline-block;
}
