.history {
  height: 60vh;
  overflow-y: auto;
}

.say,
.response {
  padding: 0.25em 0.5em;
}

.say {
  color: #9ba290;
}

.response {
  color: #ff2e21;
  text-align: right;
}

.saySkeleton {
  margin-right: auto;
}

.responseSkeleton {
  margin-left: auto;
}
