.narrat {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.says {
  display: flex;
  width: 40%;
}

.say {
  display: flex;
  align-items: baseline;
  color: #9ba290;
  margin-top: auto;
}

.sayDivider {
  margin: 0 0.5em;
}

.responses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 40%;
  height: 70vh;

  overflow-y: auto;
  margin-left: auto;
}

.response {
  display: flex;
  align-items: flex-start;

  color: #ff2e21;
  text-transform: none;
  text-align: left;

  justify-content: flex-start;
}

.responseDivider {
  margin-right: 0.5em;
}

.disposers,
.externs {
  margin-left: 1em;
  display: inline-block;
}
