.card {
  position: relative;
}

.stepImage {
  width: 100%;
  height: 8.5em;
}

.disabledImage {
  filter: opacity(0.1);
}

.valid {
  filter: blur(2px) saturate(0.3) brightness(0.85);

  * {
    animation-play-state: paused;
  }
}

.cardContent {
  margin-top: 1em;
}
