.comment{
  display: flex;
}

.link {
  display: inline-flex;
}

.storeLink:hover {
  transform: scale(1.2) rotate(5deg);
  transition: transform 0.2s ease;
  animation: combo 0.2s ease;
}

.steam,
.gog {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em;
}

@keyframes combo {
  0% { transform: scale(1); }
  100% { transform: scale(1.2) rotate(5deg); }
}
