.loader {
  position: relative;
  overflow: hidden;
  height: 1.5em;

  &.dark {
    .label {
      background: linear-gradient(90deg, #ffffff00 0%, #030405cc 33%, #030405cc 66%, #ffffff00 100%);
    }
  }

  &.light {
    .label {
      background: linear-gradient(90deg, #ffffff00 0%, #cccdcecc 33%, #cccdcecc 66%, #ffffff00 100%);
    }
  }
}

.svg {
  font-family:monospace;
  width: 100%;
  height: 1em;
}

.label {
  text-align: center;
}

.svgWrapper, .label {
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.svgWrapper {
  left: 0;
}

.label {
  left: -100%;
}

.loader:hover .svgWrapper {
  left: 0.5em;
}

.loader:hover .label {
  left: 0;
}

@keyframes colorShift {
  0% {
    filter: opacity(1);
    background-position: top right, bottom right;
  }
  50% {
    filter: opacity(0.4);
  }
  100% {
    filter: opacity(1);
    background-position: top left, bottom left;
  }
}

.loading {
  animation: colorShift 5s infinite linear;
  background:
    repeating-linear-gradient(-135deg, #000000ff 0 0.5em,#0000 0 4em),
    repeating-linear-gradient( -45deg, #000000ff 0 0.5em,#0000 0 4em);
  background-size:  200% 50%;
  background-repeat: no-repeat;
}
