.inputWrapper {
  display: flex;
  margin-bottom: 1em;
}

.input {
  width: 80%;
}

.inputActions {
  width: 20%;
  display: flex;
}

.inputReload,
.inputDownload {
  flex: 1;
  border-radius: 5px;
}
